body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.revealedSquare{
  background: #087a02;
  outline: none;
}

.hiddenSquare {
  background: #fff;
  outline: none;
}

.markedSquare {
  background: #F7391B;
  outline: none;
}

.gameLost {
  background: #F7391B;
  outline: none;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.game-footer {
  margin-top: 30;
  flex-direction: row;
}
